<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pandas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>

  <div class="container">
    <h1 class="pb-5">Pandas</h1>


    <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        {% for col in columns %}
            <th scope="col">{{ col }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
        <tr>
          <th scope="row">{{ row.ID }}</th>
          <td>{{ row["Undergraduate Major"] }}</td>
          <td>{{ row["Starting Median Salary"] }}</td>
          <td>{{ row["Mid-Career Median Salary"] }}</td>
          <td>{{ row["Mid-Career 10th Percentile Salary"] }}</td>
          <td>{{ row["Mid-Career 90th Percentile Salary"] }}</td>
          <td>{{ row["Group"] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  </div>



  </body>
</html>
